language: php

php:
  - 5.6
  - '7.0'
  - nightly

sudo: false


services:
  - mysql

before_script:
  - cp .env.travis .env
  - mysql -e 'create database homestead_test;'
  - php artisan migrate -vvv
  - composer self-update
  - composer --prefer-source install

cache:
  directories:
    - ./vendor


notifications:
  email:
    recipients:
      - zqh0513@gmail.com
    on_success: always
    on_failure: always

script: vendor/bin/phpunit -c phpunit.xml
