html, body {
  height: 100%;
  font-size: 14px;
  color: #333333;
  font-family: NotoSansHans-Regular, AvenirNext-Regular, arial, Hiragino Sans GB, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  background: #ececec;
}